body {
	margin: 25px;
	background-color: #505050;
}

.gridmode {
	column-count: 4;
	width: 100%;
	-moz-column-count: 4;
}

.racksAuthform {
	width: 25%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.palette {
	background-color: #B8B8B8;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    padding: 9px 14px;
	text-align: left;
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 6% -20px;
}
.palette h3 {
	text-align: right;
	margin-bottom: 40px;
	text-transform: capitalize;
}
h4 {
	text-transform: capitalize;
	display: inline-block;
}
div.resource {
	
}
div.resourceName {
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 2px;
	font-size: 16px;
	float: left;
	text-transform: capitalize;
}
.resourceFeatures {
	float: right;
}
h3.productName {
	position: relative;
	top: -17px;
	left: 3px;
	color: #777;
	font-size: 16px;
	float: right;
	width: 100%;
	text-transform: capitalize;
}
div.productResources {
	float: left;
	width: 100%;
}
div.paletteHeader {
	float: left;
	width: 100%;
	height: 80px;
}
div.resourceHeader {
	width: 100%;
	float: left;
}
div.productDetails {
	font-size: 10px;
	text-align: right;
	float: right;
	position: relative;
	top: -58px;
	left: 3px;
	color: #777;
	width: 100%;
}
ul {
	list-style: none;
}

li {
	margin-bottom: 7px;
	margin-top: 7px;
}
.featureFormContainer {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}
.featureFormContainer main {
	width: 25%;
	margin: 0 auto;
}

.cloudImages, .cloudOrchestration, .cloudFilesCDN {
	display: none;
}
.row {
	width: 100%;
}
.rightAlign {
	text-align: right;
}
.leftAlign {
	text-align: left;
	color: white;
}