<html>
	<head>
		<script src="views/angular.min.js"></script>
		<script src="views/client.js"></script>
		<link rel="stylesheet" href="views/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="views/client.css"></style>
	</head>
	<body ng-app="client" ng-controller="MainCtrl">
		<div>
			<form class="racksAuthform" role="form" ng-show="toggle">
				<div class="form-group">
					<label for="Username">Username</label>
					<input ng-model="user.name" type="text" class="form-control" id="Username" placeholder="Enter Username">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input ng-model="user.apiKey" type="password" class="form-control" id="Password" placeholder="Password">
				</div>
				<button ng-click="getAccount(user)" type="submit" class="btn btn-default">Submit</button>
			</form>
			<div class="gridmode">
				<div ng-repeat="(productName, product) in palettes" class="palette highlight {{ productName }}" style="background-image: url('/views/assets/{{ productName }}.png');">
					<div class="paletteHeader">
						<h3 class="productName">{{productName}}</h3>
						<div class="productDetails">{{ product.meta.target.replace('https://', '').split('/')[0] }}</div>
					</div>
					<div class="btn-group productFeatures">
						<button ng-repeat="feature in product.productFeatures" class="btn btn-default btn-xs" ng-click="productFeatureClick(productName, feature, {})">{{feature}}</button>
					</div>
					<div class="productResources">
						<div class="resource" ng-repeat="(resourceName, resource) in product.resources">
							<div class="resourceHeader">
								<div class="resourceName">{{resourceName}}:</div>
								<div class="btn-group resourceFeatures">
									<div ng-repeat="(featureName, feature) in resource.resourceFeatures">
										<div class="featureFormContainer" ng-show="feature.show">	
											<main>
												<form class="resourceForm" role="form">
													<div class="row">
														<table>
															<tr ng-repeat="(field, fieldType) in resource.meta.requiredFields">
																<td class="leftAlign">
																	<label>{{field}}</label> 
																</td>
																<td class="rightAlign">
																	<input ng-model="feature.request[field]" type="text" placeholder="{{fieldType}}">
																</td>
															</tr>
														</table>
													</div>
													<button ng-click="formSubmit(feature)" type="submit" class="btn btn-default">Submit</button>
													<button ng-click="feature.show = !feature.show" type="submit" class="btn btn-default">Cancel</button>
												</form>
											</main>
										</div>
										<button class="btn btn-default btn-xs" ng-click="resourceClick(productName,resourceName, featureName, {})">{{featureName}}</button>
									</div>
								</div>
							</div>
							<div ng-repeat="model in resource.models">
								<span ng-click="getModelDetails(model)">{{model.name || model.id}}</span>
								<div>{{model.details}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>