<html>
	<head>
		<script src="views/angular.min.js"></script>
		<script src="views/client.js"></script>
		<link rel="stylesheet" href="views/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="views/client.css"></style>
	</head>
	<body ng-app="client" ng-controller="MainCtrl">
		<div>
			<form class="racksAuthform" role="form" ng-show="toggle">
				<div class="form-group">
					<label for="Username">Username</label>
					<input ng-model="user.name" type="text" class="form-control" id="Username" placeholder="Enter Username">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input ng-model="user.apiKey" type="password" class="form-control" id="Password" placeholder="Password">
				</div>
				<button ng-click="getAccount(user)" type="submit" class="btn btn-default">Submit</button>
			</form>
			<div class="gridmode">
				<div ng-repeat="(productName, product) in palettes" class="palette highlight {{ productName }}" style="background-image: url('/views/assets/{{ productName }}.png');">
					<div class="paletteHeader">
						<h3 class="productName">{{productName}}</h3>
						<div class="productDetails">{{ product.meta.target.replace('https://', '').split('/')[0] }}</div>
					</div>
					<div class="btn-group productFeatures">
						<button ng-repeat="feature in product.productFeatures" class="btn btn-default btn-xs" ng-click="productFeatureClick(productName, feature, {})">{{feature}}</button>
					</div>
					<div class="productResources">
						<div class="resource" ng-repeat="(resourceName, resource) in product.resources" ng-init="resource.showModels=0">
							<div class="resourceHeader">
								<div class="resourceName">{{resourceName}}:</div>
								<div class="rightAlign">
									<button ng-repeat="featureName in featureFilter(resource.resourceFeatures) | orderBy:featureName:!reverse | filter: '!model' | filter: '!_racksmeta' | filter: '!assume'" class="btn btn-default btn-xs" ng-click="resourceClick(productName,resourceName, featureName, {})">{{featureName}}</button>
								</div>
								<div class="btn-group resourceFeatures">
									<div ng-repeat="(featureName, feature) in resource.resourceFeatures">
										<div class="featureFormContainer" ng-show="feature.show" >
											<main>
												<form class="simple-form">
													<table class="white">
														<tr ng-repeat="(fieldName, fieldType) in resource.resourceFeatures._racksmeta.details.requiredFields">
															<td>
																{{fieldName}}
															</td>
															<td ng-switch on="fieldType">
																<input ng-switch-when="string" type="text" ng-model="formData.name">
																<select ng-switch-when="imageRef" ng-model="images" ng-options="image.name for image in images">{{name}}</select>
																<select ng-switch-when="flavorRef" ng-model="flavors" ng-options="flavor.name for flavor in flavors"></select>
															</td>
														</tr>
														<tr>
															<td>
																<button ng-click="formSubmit(formData)" type="submit" class="btn btn-default">Submit</button>
															</td>
															<td>
																<button ng-click="feature.show = !feature.show" type="submit" class="btn btn-default">Cancel</button>
															</td>
														</tr>
													</table> 
												</form>
											</main>
										</div>
									</div>
								</div>
							</div>
							<div class="action white" ng-show="resource.showModels">
								<button ng-click="resource.showModels = !resource.showModels" class="btn btn-xs">Close</button>
								<h4>{{resourceName}}</h4>
								<div ng-repeat="model in resource.models">
									<span>{{model.name || model.id}}</span><br>
									<select ng-model="selectedAction">
										<option ng-repeat="action in resource.modelFeatures | filter: '!metadata'">{{action}}</option>
									</select>
									<button ng-click="modelAction(productName, resourceName, selectedAction, model)">Submit</button>
									<button ng-click="model.action.show = !model.action.show">Cancel</button>
									<div ng-show="model.action.show">
										<pre>{{model.action.output}}</pre>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<button ng-click="prettyify()">Show me the palettes</button>
			<pre>{{prettyPalettes}}</pre>
		</div>
	</body>
</html>